{% extends 'home.html' %}
{% block content %}
{% load static %}

<div class="head-title">
    <div class="left">
        <h1>Arepas</h1>
    </div>
</div>

<div class="table-data">
    <div class="order">
        <table id="datatable-food_type">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for food_type in food_type %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ food_type.name }}</td>
                    <td>{{ food_type.price }} $</td>
                    <td>
                        <button class="btn btn-sm btn-primary edit-food_type-button" data-id="{{ food_type.id }}">
                            <i class="bx bx-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm delete-food_type-button" data-id="{{ food_type.id }}">
                            <i class="bx bx-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/datatable-food_type.js' %}"></script>
{% endblock %}
