{% extends 'home.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="head-title">
    <div class="left">
        <h1>Arepas</h1>
    </div>
</div>

<div class="table-data">
    <div class="order">
        <button class="btn btn-md btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#register-food_type-modal">
            <i class="bx bx-plus"></i> <strong>Añadir Arepa</strong>
        </button>
        <table id="datatable-food_type">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for food_type in food_type %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ food_type.name }}</td>
                    <td>{{ food_type.price }} $</td>
                    <td>
                        <button class="btn btn-sm btn-primary edit-food_type-button" data-id="{{ food_type.id }}" data-name="{{ food_type.name }}" data-price="{{ food_type.price }}" data-bs-toggle="modal" data-bs-target="#edit-food_type-modal">
                            <i class="bx bx-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm delete-food_type-button" data-id="{{ food_type.id }}">
                            <i class="bx bx-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de Registro de Arepa -->
<div class="modal fade" id="register-food_type-modal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Añadir Arepa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="create_food_type-form" action="{% url 'food_type:food_type_create' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="food_type_name">Nombre</label>
                    <div class="mb-3">
                        {{ food_type_create_form.name|add_class:"form-control" }}
                    </div>
                    <label for="food_type_price">Precio</label>
                    <div class="mb-3">
                        {{ food_type_create_form.price|add_class:"form-control numeric-only" }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de edicion de Arepa -->
<div class="modal fade" id="edit-food_type-modal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Arepa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="edit_food_type-form" data-base-action="{% url 'food_type:food_type_edit' 0 %}" action="{% url 'food_type:food_type_edit' 0 %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="food_type_name">Nombre</label>
                    <div class="mb-3">
                        {{ food_type_edit_form.name|add_class:"form-control" }}
                    </div>
                    <label for="food_type_price">Precio</label>
                    <div class="mb-3">
                        {{ food_type_edit_form.price|add_class:"form-control numeric-only" }}
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/food_type/datatable-food_type.js' %}"></script>
<script src="{% static 'assets/js/food_type/numeric-only.js' %}"></script>
<script src="{% static 'assets/js/food_type/sweet-alert-food_type.js' %}"></script>
{% endblock %}