{% extends 'home.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<div class="head-title">
    <div class="left">
        <h1>Rellenos</h1>
    </div>
</div>

<div class="table-data">
    <div class="order">
        <button class="btn btn-md btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#register-food_filling-modal">
            <i class="bx bx-plus"></i> <strong>Añadir Relleno</strong>
        </button>
        <table id="datatable-food_filling">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Cantidad Disponible</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for food_filling in food_filling %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ food_filling.name }}</td>
                    <td>{{ food_filling.total_quantity|default:'0' }} gr</td>
                    <td>
                        <button class="btn btn-sm btn-primary edit-food_filling-button" data-id="{{ food_filling.id }}" data-name="{{ food_filling.name }}" data-quantity="{{ food_filling.quantity }}" data-bs-toggle="modal" data-bs-target="#edit-food_filling-modal">
                            <i class="bx bx-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm delete-food_filling-button" data-id="{{ food_filling.id }}">
                            <i class="bx bx-trash"></i>
                        </button>
                        <button class="btn btn-success btn-sm request-stock-button" data-id="{{ food_filling.id }}" data-name="{{ food_filling.name }}" data-bs-toggle="modal" data-bs-target="#request-stock-modal">
                            <i class="bx bx-cart"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de Registro de Relleno -->
<div class="modal fade" id="register-food_filling-modal" tabindex="-1" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Añadir Relleno</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="food_filling-form" action="{% url 'food_filling:food_filling_create' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name">Nombre del Relleno</label>
                        {{ food_filling_create_form.name }}
                    </div>
                    <div class="mb-3">
                        <label for="fk_supplier">Proveedor</label>
                        {{ food_filling_create_form.fk_supplier }}
                    </div>
                    <div class="mb-3">
                        <label for="initial_quantity">Cantidad Inicial</label>
                        {{ food_filling_create_form.initial_quantity|add_class:"form-control numeric-only" }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para solicitar más Stock -->
<div class="modal fade" id="request-stock-modal" tabindex="-1" aria-labelledby="requestStockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestStockModalLabel">Agregar Stock</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="request-stock-form" action="{% url 'food_filling:stock_request_create' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="fk_food_filling" id="request-stock-food-filling-id">
                    <div class="mb-3">
                        <label for="name">Cantidad a solicitar</label>
                        {{ stock_request_form.requested_quantity|add_class:"form-control numeric-only" }}
                    </div>
                    <div class="mb-3">
                        <label for="fk_supplier">Proveedor</label>
                        {{ stock_request_form.fk_supplier }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Solicitar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal de edicion de relleno -->
<div class="modal fade" id="edit-food_filling-modal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="edit_food_filling-form" data-base-action="{% url 'food_filling:food_filling_edit' 0 %}" action="{% url 'food_filling:food_filling_edit' 0 %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="food_filling_name">Nombre</label>
                    <div class="mb-3">
                        {{ food_filling_edit_form.name|add_class:"form-control" }}
                    </div>
                    <label for="food_filling_quantity">Cantidad</label>
                    <div class="mb-3">
                        {{ food_filling_edit_form.quantity|add_class:"form-control numeric-only" }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/food_filling/datatable-food_filling.js' %}"></script>
<script src="{% static 'assets/js/food_filling/numeric-only.js' %}"></script>
<script src="{% static 'assets/js/food_filling/sweet-alert-food_filling.js' %}"></script>
{% endblock %}