{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicons -->
    <link rel="stylesheet" href="{% static 'assets/boxicons/fonts/basic/boxicons.min.css' %}">
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap-5.3.6/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap-5.3.6/css/bootstrap.min.css' %}" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{% static 'assets/DataTables/css/jquery.dataTables.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Select2 CSS -->
    <link href="{% static 'assets/select2/css/select2.min.css' %}" rel="stylesheet" />
    <title>SociArepas</title>
</head>

<body>

    <section id="sidebar">
        <a href="{% url 'home:dashboard' %}" class="brand">
            <i class='bx  bx-cookie'></i>
            <span class="text">SociArepas</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="{% url 'home:dashboard' %}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Inicio</span>
                </a>
            </li>
            <li>
                <a href="{% url 'home:food_type' %}">
                    <i class='bx  bx-cookie'></i>
                    <span class="text">Arepas</span>
                </a>
            </li>
            <li>
                <a href="{% url 'home:food_filling' %}">
                    <i class='bx  bx-package'></i>
                    <span class="text">Rellenos</span>
                </a>
            </li>
            <li>
                <a href="{% url 'home:supplier' %}">
                    <i class='bx  bx-warehouse'></i>
                    <span class="text">Proveedores</span>
                </a>
            </li>
            <li>
                <a href="{% url 'home:order' %}">
                    <i class='bx bx-fork-spoon'></i>
                    <span class="text">Registrar Pedido</span>
                </a>
            </li>
            <li>
                <a href="{% url 'home:bill' %}">
                    <i class='bx bx-receipt'></i>
                    <span class="text">Facturas</span>
                </a>
            </li>
            <li>
                <a href="{% url 'login:logout' %}" class="logout">
                    <i class='bx bx-arrow-out-left-square-half'></i>
                    <span class="text">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </section>

    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div style="display: none;" class="form-input">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
        </nav>
        <main>
            {% block content %}

            {% endblock %}
        </main>
    </section>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/bootstrap-5.3.6/js/bootstrap.bundle.min.js' %}"></script>>
    <!-- DataTables JS -->
    <script src="{% static 'assets/DataTables/js/jquery.dataTables.min.js' %}"></script>
    <!-- SweetAlert -->
    <script src="{% static 'assets/js/sweetalert2@11.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/dark_mode.js' %}"></script>
    <!-- Select2 JS -->
    <script src="{% static 'assets/select2/js/select2.min.js' %}"></script>
    <!-- PDF JS -->
    <script src="{% static 'assets/pdfmake/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/pdfmake/js/vfs_fonts.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>

</html>